openapi: 3.2.0
info:
  title: Adafruit IO REST Users API
  description: '### The Internet of Things for Everyone


    The Adafruit IO HTTP API provides access to your Adafruit IO data from any programming language or hardware environment that can speak HTTP.'
  version: 2.0.0
  x-logo:
    url: https://io.adafruit.com/api/docs/adafruit-flower-left.png
servers:
- url: https://io.adafruit.com/api/v2
- url: http://io.adafruit.com/api/v2
security:
- HeaderKey: []
- HeaderSignature: []
- QueryKey: []
tags:
- name: Users
paths:
  /user:
    get:
      x-swagger-router-controller: Users
      x-swagger-router-action: get
      operationId: currentUser
      summary: Get information about the current user
      tags:
      - Users
      responses:
        '200':
          description: A User record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/csv:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/throttle:
    get:
      x-swagger-router-controller: Users
      x-swagger-router-action: throttle
      operationId: getCurrentUserThrottle
      summary: Get the user's data rate limit and current activity level
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      responses:
        '200':
          description: Data rate limit and current actions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data_rate_limit:
                    type: integer
                    description: Max possible actions inside the time window (usually 1 minute).
                  active_data_rate:
                    type: integer
                    description: Actions taken inside the time window.
            text/csv:
              schema:
                type: object
                properties:
                  data_rate_limit:
                    type: integer
                    description: Max possible actions inside the time window (usually 1 minute).
                  active_data_rate:
                    type: integer
                    description: Actions taken inside the time window.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  parameters:
    UsernamePath:
      name: username
      in: path
      required: true
      description: a valid username string
      schema:
        type: string
  schemas:
    User:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        name:
          type: string
          readOnly: true
        color:
          type: string
          readOnly: true
        username:
          type: string
          readOnly: true
        time_zone:
          type: string
          readOnly: true
        created_at:
          type: string
          format: dateTime
          readOnly: true
        updated_at:
          type: string
          format: dateTime
          readOnly: true
  securitySchemes:
    HeaderKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: header
      name: X-AIO-Key
    QueryKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: query
      name: X-AIO-Key
    HeaderSignature:
      description: The AIO Signature is an AWS inspired request signature.
      type: apiKey
      in: header
      name: X-AIO-Signature
