openapi: 3.2.0
info:
  title: Adafruit IO REST Tokens API
  description: '### The Internet of Things for Everyone


    The Adafruit IO HTTP API provides access to your Adafruit IO data from any programming language or hardware environment that can speak HTTP.'
  version: 2.0.0
  x-logo:
    url: https://io.adafruit.com/api/docs/adafruit-flower-left.png
servers:
- url: https://io.adafruit.com/api/v2
- url: http://io.adafruit.com/api/v2
security:
- HeaderKey: []
- HeaderSignature: []
- QueryKey: []
tags:
- name: Tokens
paths:
  /{username}/tokens:
    get:
      summary: All tokens for current user
      description: The Tokens endpoint returns information about the user's tokens.
      x-swagger-router-controller: Tokens
      x-swagger-router-action: all
      operationId: allTokens
      tags:
      - Tokens
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      responses:
        '200':
          description: An array of tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    post:
      summary: Create a new Token
      description: ''
      x-swagger-router-controller: Tokens
      x-swagger-router-action: create
      operationId: createToken
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      requestBody:
        $ref: '#/components/requestBodies/createTokenToken'
      tags:
      - Tokens
      responses:
        '200':
          description: New Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
            text/csv:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/tokens/{id}:
    get:
      summary: Returns Token based on ID
      description: ''
      x-swagger-router-controller: Tokens
      x-swagger-router-action: get
      operationId: getToken
      tags:
      - Tokens
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/IDPath'
      responses:
        '200':
          description: Token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
            text/csv:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error"
    put:
      summary: Replace an existing Token
      x-swagger-router-controller: Tokens
      x-swagger-router-action: replace
      operationId: replaceToken
      description: ''
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/IDPath'
      requestBody:
        $ref: '#/components/requestBodies/createTokenToken'
      tags:
      - Tokens
      responses:
        '200':
          description: Updated token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
            text/csv:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    patch:
      summary: Update properties of an existing Token
      description: ''
      x-swagger-router-controller: Tokens
      x-swagger-router-action: update
      operationId: updateToken
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/IDPath'
      requestBody:
        $ref: '#/components/requestBodies/createTokenToken'
      tags:
      - Tokens
      responses:
        '200':
          description: Updated Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
            text/csv:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    delete:
      summary: Delete an existing Token
      description: ''
      x-swagger-router-controller: Tokens
      x-swagger-router-action: destroy
      operationId: destroyToken
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/IDPath'
      tags:
      - Tokens
      responses:
        '200':
          description: Deleted Token successfully
          content:
            application/json:
              schema:
                type: string
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  requestBodies:
    createTokenToken:
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              token:
                type: string
      required: true
  parameters:
    UsernamePath:
      name: username
      in: path
      required: true
      description: a valid username string
      schema:
        type: string
    IDPath:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    Token:
      type: object
      properties:
        token:
          type: string
  securitySchemes:
    HeaderKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: header
      name: X-AIO-Key
    QueryKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: query
      name: X-AIO-Key
    HeaderSignature:
      description: The AIO Signature is an AWS inspired request signature.
      type: apiKey
      in: header
      name: X-AIO-Signature
