openapi: 3.2.0
info:
  title: Adafruit IO REST Permissions API
  description: '### The Internet of Things for Everyone


    The Adafruit IO HTTP API provides access to your Adafruit IO data from any programming language or hardware environment that can speak HTTP.'
  version: 2.0.0
  x-logo:
    url: https://io.adafruit.com/api/docs/adafruit-flower-left.png
servers:
- url: https://io.adafruit.com/api/v2
- url: http://io.adafruit.com/api/v2
security:
- HeaderKey: []
- HeaderSignature: []
- QueryKey: []
tags:
- name: Permissions
paths:
  /{username}/{type}/{type_id}/acl:
    get:
      summary: All permissions for current user and type
      description: The Permissions endpoint returns information about the user's permissions.
      x-swagger-router-controller: Permissions
      x-swagger-router-action: all
      operationId: allPermissions
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/PermTypePath'
      - $ref: '#/components/parameters/PermTypeIDPath'
      responses:
        '200':
          description: An array of permissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    post:
      summary: Create a new Permission
      description: ''
      x-swagger-router-controller: Permissions
      x-swagger-router-action: create
      operationId: createPermission
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/PermTypePath'
      - $ref: '#/components/parameters/PermTypeIDPath'
      requestBody:
        $ref: '#/components/requestBodies/createPermissionPermission'
      tags:
      - Permissions
      responses:
        '200':
          description: New Permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
            text/csv:
              schema:
                $ref: '#/components/schemas/Permission'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/{type}/{type_id}/acl/{id}:
    get:
      summary: Returns Permission based on ID
      description: ''
      x-swagger-router-controller: Permissions
      x-swagger-router-action: get
      operationId: getPermission
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/PermTypePath'
      - $ref: '#/components/parameters/PermTypeIDPath'
      - $ref: '#/components/parameters/IDPath'
      responses:
        '200':
          description: Permission response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
            text/csv:
              schema:
                $ref: '#/components/schemas/Permission'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error"
    put:
      summary: Replace an existing Permission
      x-swagger-router-controller: Permissions
      x-swagger-router-action: replace
      operationId: replacePermission
      description: ''
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/PermTypePath'
      - $ref: '#/components/parameters/PermTypeIDPath'
      - $ref: '#/components/parameters/IDPath'
      requestBody:
        $ref: '#/components/requestBodies/createPermissionPermission'
      tags:
      - Permissions
      responses:
        '200':
          description: Updated permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
            text/csv:
              schema:
                $ref: '#/components/schemas/Permission'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    patch:
      summary: Update properties of an existing Permission
      description: ''
      x-swagger-router-controller: Permissions
      x-swagger-router-action: update
      operationId: updatePermission
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/PermTypePath'
      - $ref: '#/components/parameters/PermTypeIDPath'
      - $ref: '#/components/parameters/IDPath'
      requestBody:
        $ref: '#/components/requestBodies/createPermissionPermission'
      tags:
      - Permissions
      responses:
        '200':
          description: Updated Permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
            text/csv:
              schema:
                $ref: '#/components/schemas/Permission'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    delete:
      summary: Delete an existing Permission
      description: ''
      x-swagger-router-controller: Permissions
      x-swagger-router-action: destroy
      operationId: destroyPermission
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/PermTypePath'
      - $ref: '#/components/parameters/PermTypeIDPath'
      - $ref: '#/components/parameters/IDPath'
      tags:
      - Permissions
      responses:
        '200':
          description: Deleted Permission successfully
          content:
            application/json:
              schema:
                type: string
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Permission:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        user_id:
          readOnly: true
          type: number
        scope:
          type: string
          default: public
          enum:
          - secret
          - public
          - user
          - organization
        scope_value:
          type: string
        model:
          type: string
          default: feed
          enum:
          - feed
          - group
          - dashboard
        object_id:
          type: number
        created_at:
          readOnly: true
          type: string
        updated_at:
          readOnly: true
          type: string
  parameters:
    UsernamePath:
      name: username
      in: path
      required: true
      description: a valid username string
      schema:
        type: string
    PermTypePath:
      name: type
      in: path
      required: true
      schema:
        type: string
    PermTypeIDPath:
      name: type_id
      in: path
      required: true
      schema:
        type: string
    IDPath:
      name: id
      in: path
      required: true
      schema:
        type: string
  requestBodies:
    createPermissionPermission:
      content:
        application/json:
          schema:
            type: object
            properties:
              mode:
                type: string
                default: r
                enum:
                - r
                - w
                - rw
              scope:
                type: string
                default: public
                enum:
                - secret
                - public
                - user
                - organization
              scope_value:
                type: string
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              mode:
                type: string
                default: r
                enum:
                - r
                - w
                - rw
              scope:
                type: string
                default: public
                enum:
                - secret
                - public
                - user
                - organization
              scope_value:
                type: string
      required: true
  securitySchemes:
    HeaderKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: header
      name: X-AIO-Key
    QueryKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: query
      name: X-AIO-Key
    HeaderSignature:
      description: The AIO Signature is an AWS inspired request signature.
      type: apiKey
      in: header
      name: X-AIO-Signature
