openapi: 3.2.0
info:
  title: Adafruit IO REST Feeds API
  description: '### The Internet of Things for Everyone


    The Adafruit IO HTTP API provides access to your Adafruit IO data from any programming language or hardware environment that can speak HTTP.'
  version: 2.0.0
  x-logo:
    url: https://io.adafruit.com/api/docs/adafruit-flower-left.png
servers:
- url: https://io.adafruit.com/api/v2
- url: http://io.adafruit.com/api/v2
security:
- HeaderKey: []
- HeaderSignature: []
- QueryKey: []
tags:
- name: Feeds
paths:
  /{username}/feeds:
    get:
      x-swagger-router-controller: Feeds
      x-swagger-router-action: all
      operationId: allFeeds
      summary: All feeds for current user
      description: The Feeds endpoint returns information about the user's feeds. The response includes the latest value of each feed, and other metadata about each feed.
      tags:
      - Feeds
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      responses:
        '200':
          description: An array of feeds
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feed'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    post:
      summary: Create a new Feed
      description: ''
      x-swagger-router-controller: Feeds
      x-swagger-router-action: create
      operationId: createFeed
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/GroupParam'
      requestBody:
        $ref: '#/components/requestBodies/createFeedFeed'
      tags:
      - Feeds
      responses:
        '200':
          description: New feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                $ref: '#/components/schemas/Feed'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/feeds/{feed_key}:
    get:
      description: Returns feed based on the feed key
      summary: Get feed by feed key
      x-swagger-router-controller: Feeds
      x-swagger-router-action: get
      operationId: getFeed
      tags:
      - Feeds
      responses:
        '200':
          description: Feed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                $ref: '#/components/schemas/Feed'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
    put:
      summary: Replace an existing Feed
      x-swagger-router-controller: Feeds
      x-swagger-router-action: replace
      operationId: replaceFeed
      description: ''
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      requestBody:
        $ref: '#/components/requestBodies/createFeedFeed'
      tags:
      - Feeds
      responses:
        '200':
          description: Updated feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                $ref: '#/components/schemas/Feed'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    patch:
      summary: Update properties of an existing Feed
      description: ''
      x-swagger-router-controller: Feeds
      x-swagger-router-action: update
      operationId: updateFeed
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      requestBody:
        $ref: '#/components/requestBodies/createFeedFeed'
      tags:
      - Feeds
      responses:
        '200':
          description: Updated feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                $ref: '#/components/schemas/Feed'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    delete:
      summary: Delete an existing Feed
      description: ''
      x-swagger-router-controller: Feeds
      x-swagger-router-action: destroy
      operationId: destroyFeed
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      tags:
      - Feeds
      responses:
        '200':
          description: Deleted feed successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/feeds/{feed_key}/details:
    get:
      description: Returns more detailed feed record based on the feed key
      summary: Get detailed feed by feed key
      x-swagger-router-controller: Feeds
      x-swagger-router-action: details
      operationId: getFeedDetails
      tags:
      - Feeds
      responses:
        '200':
          description: Feed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                $ref: '#/components/schemas/Feed'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
  /{username}/groups/{group_key}/add:
    post:
      summary: Add an existing Feed to a Group
      description: ''
      x-swagger-router-controller: Groups
      x-swagger-router-action: add_feed
      operationId: addFeedToGroup
      tags:
      - Feeds
      parameters:
      - $ref: '#/components/parameters/GroupPath'
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedParam'
      responses:
        '200':
          description: Updated group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            text/csv:
              schema:
                $ref: '#/components/schemas/Group'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/groups/{group_key}/remove:
    post:
      summary: Remove a Feed from a Group
      description: ''
      x-swagger-router-controller: Groups
      x-swagger-router-action: remove_feed
      operationId: removeFeedFromGroup
      tags:
      - Feeds
      parameters:
      - $ref: '#/components/parameters/GroupPath'
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedParam'
      responses:
        '200':
          description: Updated group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            text/csv:
              schema:
                $ref: '#/components/schemas/Group'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/groups/{group_key}/feeds:
    get:
      x-swagger-router-controller: GroupFeeds
      x-swagger-router-action: group_all
      operationId: allGroupFeeds
      summary: All feeds for current user in a given group
      description: The Group Feeds endpoint returns information about the user's feeds. The response includes the latest value of each feed, and other metadata about each feed, but only for feeds within the given group.
      tags:
      - Feeds
      parameters:
      - $ref: '#/components/parameters/GroupPath'
      - $ref: '#/components/parameters/UsernamePath'
      responses:
        '200':
          description: An array of feeds
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feed'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    post:
      summary: Create a new Feed in a Group
      description: ''
      x-swagger-router-controller: GroupFeeds
      x-swagger-router-action: group_create
      operationId: createGroupFeed
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/GroupPath'
      requestBody:
        $ref: '#/components/requestBodies/createFeedFeed'
      tags:
      - Feeds
      responses:
        '200':
          description: New feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
            text/csv:
              schema:
                $ref: '#/components/schemas/Feed'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  requestBodies:
    createFeedFeed:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              key:
                type: string
              description:
                type: string
              license:
                type: string
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              name:
                type: string
              key:
                type: string
              description:
                type: string
              license:
                type: string
      required: true
  schemas:
    Group:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        name:
          type: string
        description:
          type: string
        feeds:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Feed'
        created_at:
          type: string
          readOnly: true
        updated_at:
          readOnly: true
          type: string
    ShallowGroup:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        name:
          type: string
        description:
          type: string
        created_at:
          type: string
          readOnly: true
        updated_at:
          readOnly: true
          type: string
    Data:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        value:
          type: string
        feed_id:
          type: number
        group_id:
          readOnly: true
          type: number
        expiration:
          type: string
        lat:
          type: number
        lon:
          type: number
        ele:
          type: number
        completed_at:
          readOnly: true
          type: string
        created_at:
          readOnly: true
          type: string
        updated_at:
          readOnly: true
          type: string
        created_epoch:
          readOnly: true
          type: number
    Feed:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        name:
          type: string
        key:
          type: string
        group:
          type: object
          readOnly: true
          additionalProperties:
            $ref: '#/components/schemas/ShallowGroup'
        groups:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ShallowGroup'
        description:
          type: string
        details:
          type: object
          description: Additional details about this feed.
          readOnly: true
          properties:
            shared_with:
              type: array
              description: Access control list for this feed
              items:
                type: object
            data:
              type: object
              properties:
                first:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Data'
                last:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Data'
                count:
                  type: integer
                  description: Number of data points stored by this feed.
        unit_type:
          type: string
        unit_symbol:
          type: string
        history:
          type: boolean
        visibility:
          type: string
          default: private
          enum:
          - private
          - public
        license:
          type: string
        enabled:
          type: boolean
          readOnly: true
        last_value:
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
        status_notify:
          type: boolean
          description: Is status notification active?
        status_timeout:
          type: integer
          description: Status notification timeout in minutes.
        created_at:
          type: string
          readOnly: true
        updated_at:
          type: string
          readOnly: true
  parameters:
    FeedParam:
      name: feed_key
      in: query
      schema:
        type: string
    UsernamePath:
      name: username
      in: path
      required: true
      description: a valid username string
      schema:
        type: string
    GroupParam:
      name: group_key
      in: query
      schema:
        type: string
    GroupPath:
      name: group_key
      in: path
      required: true
      schema:
        type: string
    FeedPath:
      name: feed_key
      description: a valid feed key
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    HeaderKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: header
      name: X-AIO-Key
    QueryKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: query
      name: X-AIO-Key
    HeaderSignature:
      description: The AIO Signature is an AWS inspired request signature.
      type: apiKey
      in: header
      name: X-AIO-Signature
