openapi: 3.2.0
info:
  title: Adafruit IO REST Activities API
  description: '### The Internet of Things for Everyone


    The Adafruit IO HTTP API provides access to your Adafruit IO data from any programming language or hardware environment that can speak HTTP.'
  version: 2.0.0
  x-logo:
    url: https://io.adafruit.com/api/docs/adafruit-flower-left.png
servers:
- url: https://io.adafruit.com/api/v2
- url: http://io.adafruit.com/api/v2
security:
- HeaderKey: []
- HeaderSignature: []
- QueryKey: []
tags:
- name: Activities
paths:
  /{username}/activities:
    get:
      x-swagger-router-controller: Activities
      x-swagger-router-action: all
      operationId: allActivities
      summary: All activities for current user
      description: The Activities endpoint returns information about the user's activities.
      tags:
      - Activities
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: An array of activities
          headers:
            X-Pagination-Limit:
              description: The limit this request is using, either your given value or the default (1000).
              schema:
                type: integer
            X-Pagination-Count:
              description: The number of records returned.
              schema:
                type: integer
            X-Pagination-Start:
              description: The created_at value for the oldest record returned.
              schema:
                type: string
            X-Pagination-End:
              description: The created_at value for the newest record returned.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    delete:
      x-swagger-router-controller: Activities
      x-swagger-router-action: destroy
      operationId: destroyActivities
      summary: All activities for current user
      description: Delete all your activities.
      tags:
      - Activities
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      responses:
        '200':
          description: Deleted activities successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/activities/{type}:
    get:
      x-swagger-router-controller: Activities
      x-swagger-router-action: get
      operationId: getActivity
      summary: Get activities by type for current user
      description: The Activities endpoint returns information about the user's activities.
      tags:
      - Activities
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/ActivityTypePath'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: An array of activities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  parameters:
    EndTime:
      name: end_time
      in: query
      description: End time for filtering, returns records created before give time.
      schema:
        type: string
        format: date-time
    Limit:
      name: limit
      in: query
      description: Limit the number of records returned.
      schema:
        type: integer
    StartTime:
      name: start_time
      in: query
      description: Start time for filtering, returns records created after given time.
      schema:
        type: string
        format: date-time
    UsernamePath:
      name: username
      in: path
      required: true
      description: a valid username string
      schema:
        type: string
    ActivityTypePath:
      name: type
      in: path
      required: true
      schema:
        type: string
  schemas:
    Activity:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        action:
          type: string
          readOnly: true
        model:
          type: string
          readOnly: true
        data:
          type: object
          readOnly: true
        user_id:
          type: number
          readOnly: true
        created_at:
          type: string
          format: dateTime
          readOnly: true
        updated_at:
          type: string
          format: dateTime
          readOnly: true
  securitySchemes:
    HeaderKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: header
      name: X-AIO-Key
    QueryKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: query
      name: X-AIO-Key
    HeaderSignature:
      description: The AIO Signature is an AWS inspired request signature.
      type: apiKey
      in: header
      name: X-AIO-Signature
