openapi: 3.2.0
info:
  title: Adafruit IO REST Dashboards API
  description: '### The Internet of Things for Everyone


    The Adafruit IO HTTP API provides access to your Adafruit IO data from any programming language or hardware environment that can speak HTTP.'
  version: 2.0.0
  x-logo:
    url: https://io.adafruit.com/api/docs/adafruit-flower-left.png
servers:
- url: https://io.adafruit.com/api/v2
- url: http://io.adafruit.com/api/v2
security:
- HeaderKey: []
- HeaderSignature: []
- QueryKey: []
tags:
- name: Dashboards
paths:
  /{username}/dashboards:
    get:
      summary: All dashboards for current user
      description: The Dashboards endpoint returns information about the user's dashboards.
      x-swagger-router-controller: Dashboards
      x-swagger-router-action: all
      operationId: allDashboards
      tags:
      - Dashboards
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      responses:
        '200':
          description: An array of dashboards
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dashboard'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dashboard'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    post:
      summary: Create a new Dashboard
      description: ''
      x-swagger-router-controller: Dashboards
      x-swagger-router-action: create
      operationId: createDashboard
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      requestBody:
        $ref: '#/components/requestBodies/createDashboardDashboard'
      tags:
      - Dashboards
      responses:
        '200':
          description: New Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
            text/csv:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/dashboards/{id}:
    get:
      summary: Returns Dashboard based on ID
      description: ''
      x-swagger-router-controller: Dashboards
      x-swagger-router-action: get
      operationId: getDashboard
      tags:
      - Dashboards
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/IDPath'
      responses:
        '200':
          description: Dashboard response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
            text/csv:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error"
    put:
      summary: Replace an existing Dashboard
      x-swagger-router-controller: Dashboards
      x-swagger-router-action: replace
      operationId: replaceDashboard
      description: ''
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/IDPath'
      requestBody:
        $ref: '#/components/requestBodies/createDashboardDashboard'
      tags:
      - Dashboards
      responses:
        '200':
          description: Updated dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
            text/csv:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    patch:
      summary: Update properties of an existing Dashboard
      description: ''
      x-swagger-router-controller: Dashboards
      x-swagger-router-action: update
      operationId: updateDashboard
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/IDPath'
      requestBody:
        $ref: '#/components/requestBodies/createDashboardDashboard'
      tags:
      - Dashboards
      responses:
        '200':
          description: Updated Dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
            text/csv:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    delete:
      summary: Delete an existing Dashboard
      description: ''
      x-swagger-router-controller: Dashboards
      x-swagger-router-action: destroy
      operationId: destroyDashboard
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/IDPath'
      tags:
      - Dashboards
      responses:
        '200':
          description: Deleted Dashboard successfully
          content:
            application/json:
              schema:
                type: string
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Group:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        name:
          type: string
        description:
          type: string
        feeds:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Feed'
        created_at:
          type: string
          readOnly: true
        updated_at:
          readOnly: true
          type: string
    Block:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        key:
          type: string
        visual_type:
          type: string
        column:
          type: number
        row:
          type: number
        size_x:
          type: number
        size_y:
          type: number
        block_feeds:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BlockFeed'
    ShallowGroup:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        name:
          type: string
        description:
          type: string
        created_at:
          type: string
          readOnly: true
        updated_at:
          readOnly: true
          type: string
    Data:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        value:
          type: string
        feed_id:
          type: number
        group_id:
          readOnly: true
          type: number
        expiration:
          type: string
        lat:
          type: number
        lon:
          type: number
        ele:
          type: number
        completed_at:
          readOnly: true
          type: string
        created_at:
          readOnly: true
          type: string
        updated_at:
          readOnly: true
          type: string
        created_epoch:
          readOnly: true
          type: number
    Feed:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        name:
          type: string
        key:
          type: string
        group:
          type: object
          readOnly: true
          additionalProperties:
            $ref: '#/components/schemas/ShallowGroup'
        groups:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ShallowGroup'
        description:
          type: string
        details:
          type: object
          description: Additional details about this feed.
          readOnly: true
          properties:
            shared_with:
              type: array
              description: Access control list for this feed
              items:
                type: object
            data:
              type: object
              properties:
                first:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Data'
                last:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Data'
                count:
                  type: integer
                  description: Number of data points stored by this feed.
        unit_type:
          type: string
        unit_symbol:
          type: string
        history:
          type: boolean
        visibility:
          type: string
          default: private
          enum:
          - private
          - public
        license:
          type: string
        enabled:
          type: boolean
          readOnly: true
        last_value:
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
        status_notify:
          type: boolean
          description: Is status notification active?
        status_timeout:
          type: integer
          description: Status notification timeout in minutes.
        created_at:
          type: string
          readOnly: true
        updated_at:
          type: string
          readOnly: true
    Dashboard:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        key:
          type: string
        blocks:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Block'
    BlockFeed:
      type: object
      properties:
        id:
          type: string
        feed:
          $ref: '#/components/schemas/Feed'
        group:
          $ref: '#/components/schemas/Group'
  requestBodies:
    createDashboardDashboard:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              key:
                type: string
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              key:
                type: string
      required: true
  parameters:
    UsernamePath:
      name: username
      in: path
      required: true
      description: a valid username string
      schema:
        type: string
    IDPath:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    HeaderKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: header
      name: X-AIO-Key
    QueryKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: query
      name: X-AIO-Key
    HeaderSignature:
      description: The AIO Signature is an AWS inspired request signature.
      type: apiKey
      in: header
      name: X-AIO-Signature
