openapi: 3.2.0
info:
  title: Adafruit IO REST Blocks API
  description: '### The Internet of Things for Everyone


    The Adafruit IO HTTP API provides access to your Adafruit IO data from any programming language or hardware environment that can speak HTTP.'
  version: 2.0.0
  x-logo:
    url: https://io.adafruit.com/api/docs/adafruit-flower-left.png
servers:
- url: https://io.adafruit.com/api/v2
- url: http://io.adafruit.com/api/v2
security:
- HeaderKey: []
- HeaderSignature: []
- QueryKey: []
tags:
- name: Blocks
paths:
  /{username}/dashboards/{dashboard_id}/blocks:
    get:
      summary: All blocks for current user
      description: The Blocks endpoint returns information about the user's blocks.
      x-swagger-router-controller: Blocks
      x-swagger-router-action: all
      operationId: allBlocks
      tags:
      - Blocks
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/DashboardIDPath'
      responses:
        '200':
          description: An array of blocks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Block'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Block'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    post:
      summary: Create a new Block
      description: ''
      x-swagger-router-controller: Blocks
      x-swagger-router-action: create
      operationId: createBlock
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/DashboardIDPath'
      requestBody:
        $ref: '#/components/requestBodies/createBlockBlock'
      tags:
      - Blocks
      responses:
        '200':
          description: New Block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
            text/csv:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/dashboards/{dashboard_id}/blocks/{id}:
    get:
      summary: Returns Block based on ID
      description: ''
      x-swagger-router-controller: Blocks
      x-swagger-router-action: get
      operationId: getBlock
      tags:
      - Blocks
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/DashboardIDPath'
      - $ref: '#/components/parameters/IDPath'
      responses:
        '200':
          description: Block response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
            text/csv:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error"
    put:
      summary: Replace an existing Block
      x-swagger-router-controller: Blocks
      x-swagger-router-action: replace
      operationId: replaceBlock
      description: ''
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/DashboardIDPath'
      - $ref: '#/components/parameters/IDPath'
      requestBody:
        $ref: '#/components/requestBodies/createBlockBlock'
      tags:
      - Blocks
      responses:
        '200':
          description: Updated block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
            text/csv:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    patch:
      summary: Update properties of an existing Block
      description: ''
      x-swagger-router-controller: Blocks
      x-swagger-router-action: update
      operationId: updateBlock
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/DashboardIDPath'
      - $ref: '#/components/parameters/IDPath'
      requestBody:
        $ref: '#/components/requestBodies/createBlockBlock'
      tags:
      - Blocks
      responses:
        '200':
          description: Updated Block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
            text/csv:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    delete:
      summary: Delete an existing Block
      description: ''
      x-swagger-router-controller: Blocks
      x-swagger-router-action: destroy
      operationId: destroyBlock
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/DashboardIDPath'
      - $ref: '#/components/parameters/IDPath'
      tags:
      - Blocks
      responses:
        '200':
          description: Deleted Block successfully
          content:
            application/json:
              schema:
                type: string
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Group:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        name:
          type: string
        description:
          type: string
        feeds:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Feed'
        created_at:
          type: string
          readOnly: true
        updated_at:
          readOnly: true
          type: string
    Block:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        key:
          type: string
        visual_type:
          type: string
        column:
          type: number
        row:
          type: number
        size_x:
          type: number
        size_y:
          type: number
        block_feeds:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BlockFeed'
    Data:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        value:
          type: string
        feed_id:
          type: number
        group_id:
          readOnly: true
          type: number
        expiration:
          type: string
        lat:
          type: number
        lon:
          type: number
        ele:
          type: number
        completed_at:
          readOnly: true
          type: string
        created_at:
          readOnly: true
          type: string
        updated_at:
          readOnly: true
          type: string
        created_epoch:
          readOnly: true
          type: number
    ShallowGroup:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        name:
          type: string
        description:
          type: string
        created_at:
          type: string
          readOnly: true
        updated_at:
          readOnly: true
          type: string
    Feed:
      type: object
      properties:
        id:
          type: number
          readOnly: true
        name:
          type: string
        key:
          type: string
        group:
          type: object
          readOnly: true
          additionalProperties:
            $ref: '#/components/schemas/ShallowGroup'
        groups:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ShallowGroup'
        description:
          type: string
        details:
          type: object
          description: Additional details about this feed.
          readOnly: true
          properties:
            shared_with:
              type: array
              description: Access control list for this feed
              items:
                type: object
            data:
              type: object
              properties:
                first:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Data'
                last:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/Data'
                count:
                  type: integer
                  description: Number of data points stored by this feed.
        unit_type:
          type: string
        unit_symbol:
          type: string
        history:
          type: boolean
        visibility:
          type: string
          default: private
          enum:
          - private
          - public
        license:
          type: string
        enabled:
          type: boolean
          readOnly: true
        last_value:
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
        status_notify:
          type: boolean
          description: Is status notification active?
        status_timeout:
          type: integer
          description: Status notification timeout in minutes.
        created_at:
          type: string
          readOnly: true
        updated_at:
          type: string
          readOnly: true
    BlockFeed:
      type: object
      properties:
        id:
          type: string
        feed:
          $ref: '#/components/schemas/Feed'
        group:
          $ref: '#/components/schemas/Group'
  parameters:
    UsernamePath:
      name: username
      in: path
      required: true
      description: a valid username string
      schema:
        type: string
    IDPath:
      name: id
      in: path
      required: true
      schema:
        type: string
    DashboardIDPath:
      name: dashboard_id
      in: path
      required: true
      schema:
        type: string
  requestBodies:
    createBlockBlock:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              key:
                type: string
              dashboard_id:
                type: number
              visual_type:
                type: string
              column:
                type: number
              row:
                type: number
              size_x:
                type: number
              size_y:
                type: number
              block_feeds:
                type: array
                items:
                  type: object
                  properties:
                    feed_id:
                      type: string
                    group_id:
                      type: string
              properties:
                type: object
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              key:
                type: string
              dashboard_id:
                type: number
              visual_type:
                type: string
              column:
                type: number
              row:
                type: number
              size_x:
                type: number
              size_y:
                type: number
              block_feeds:
                type: array
                items:
                  type: object
                  properties:
                    feed_id:
                      type: string
                    group_id:
                      type: string
              properties:
                type: object
      required: true
  securitySchemes:
    HeaderKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: header
      name: X-AIO-Key
    QueryKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: query
      name: X-AIO-Key
    HeaderSignature:
      description: The AIO Signature is an AWS inspired request signature.
      type: apiKey
      in: header
      name: X-AIO-Signature
