openapi: 3.2.0
info:
  title: Adafruit IO REST Data API
  description: '### The Internet of Things for Everyone


    The Adafruit IO HTTP API provides access to your Adafruit IO data from any programming language or hardware environment that can speak HTTP.'
  version: 2.0.0
  x-logo:
    url: https://io.adafruit.com/api/docs/adafruit-flower-left.png
servers:
- url: https://io.adafruit.com/api/v2
- url: http://io.adafruit.com/api/v2
security:
- HeaderKey: []
- HeaderSignature: []
- QueryKey: []
tags:
- name: Data
paths:
  /{username}/feeds/{feed_key}/data:
    get:
      x-swagger-router-controller: Data
      x-swagger-router-action: all
      operationId: allData
      summary: Get all data for the given feed
      description: ''
      tags:
      - Data
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/DataInclude'
      responses:
        '200':
          description: An array of data
          headers:
            X-Pagination-Limit:
              description: The limit this request is using, either your given value or the default (1000).
              schema:
                type: integer
            X-Pagination-Count:
              description: The number of records returned.
              schema:
                type: integer
            X-Pagination-Start:
              description: The created_at value for the oldest record returned.
              schema:
                type: string
            X-Pagination-End:
              description: The created_at value for the newest record returned.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    post:
      summary: Create new Data
      operationId: createData
      description: 'Create new data records on the given feed.


        **NOTE:** when feed history is on, data `value` size is limited to 1KB, when feed history is turned off data value size is limited to 100KB.'
      x-swagger-router-controller: Data
      x-swagger-router-action: create
      x-code-samples:
      - lang: curl
        source: "curl -F 'value=65.5' -H 'X-AIO-Key: io_key_12345' \\\n  https://io.adafruit.com/api/v2/io_username/feeds/io-feed-key/data"
      - lang: Ruby
        source: "api = Adafruit::IO::Client.new(\n  key: ENV['IO_KEY'],\n  username: ENV['IO_USERNAME']\n)\napi.send_data('io-feed-key', 65.5)"
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      requestBody:
        $ref: '#/components/requestBodies/createDataDatum'
      tags:
      - Data
      responses:
        '200':
          description: New data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Data'
            text/csv:
              schema:
                $ref: '#/components/schemas/Data'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/feeds/{feed_key}/data/chart:
    get:
      x-swagger-router-controller: Data
      x-swagger-router-action: chart
      operationId: chartData
      summary: Chart data for current feed
      description: 'The Chart API is what we use on io.adafruit.com to populate charts over varying timespans with a consistent number of data points. The maximum number of points returned is 480. This API works by aggregating slices of time into a single value by averaging.


        All time-based parameters are optional, if none are given it will default to 1 hour at the finest-grained resolution possible.'
      tags:
      - Data
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - name: resolution
        in: query
        description: 'A resolution size in minutes. By giving a resolution value you will get back grouped data points aggregated over resolution-sized intervals. NOTE: time span is preferred over resolution, so if you request a span of time that includes more than max limit points you may get a larger resolution than you requested. Valid resolutions are 1, 5, 10, 30, 60, and 120.'
        schema:
          type: integer
          format: int32
      - name: hours
        in: query
        description: The number of hours the chart should cover.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A JSON record containing chart data and the parameters used to generate it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  feed:
                    type: object
                    properties:
                      id:
                        type: integer
                      key:
                        type: string
                      name:
                        type: string
                  parameters:
                    type: object
                    properties: {}
                  columns:
                    type: array
                    description: The names of the columns returned as data.
                    items:
                      type: string
                  data:
                    type: array
                    description: The actual chart data.
                    items:
                      type: array
                      items:
                        type: string
            text/csv:
              schema:
                type: object
                properties:
                  feed:
                    type: object
                    properties:
                      id:
                        type: integer
                      key:
                        type: string
                      name:
                        type: string
                  parameters:
                    type: object
                    properties: {}
                  columns:
                    type: array
                    description: The names of the columns returned as data.
                    items:
                      type: string
                  data:
                    type: array
                    description: The actual chart data.
                    items:
                      type: array
                      items:
                        type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/feeds/{feed_key}/data/batch:
    post:
      summary: Create multiple new Data records
      x-swagger-router-controller: Data
      x-swagger-router-action: batch
      operationId: batchCreateData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      requestBody:
        $ref: '#/components/requestBodies/batchCreateDataData'
      tags:
      - Data
      responses:
        '200':
          description: New data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/feeds/{feed_key}/data/previous:
    get:
      summary: Previous Data in Queue
      description: 'Get the previously processed data point in the feed. NOTE: this method doesn''t move the processing queue pointer.'
      x-swagger-router-controller: Data
      x-swagger-router-action: previous
      operationId: previousData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      - $ref: '#/components/parameters/DataInclude'
      tags:
      - Data
      responses:
        '200':
          description: Data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/feeds/{feed_key}/data/next:
    get:
      summary: Next Data in Queue
      description: Get the next newest data point in the feed. If queue processing hasn't been started, the first data point in the feed will be returned.
      x-swagger-router-controller: Data
      x-swagger-router-action: next
      operationId: nextData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      - $ref: '#/components/parameters/DataInclude'
      tags:
      - Data
      responses:
        '200':
          description: Data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/feeds/{feed_key}/data/last:
    get:
      summary: Last Data in Queue
      description: Get the most recent data point in the feed. This request sets the queue pointer to the end of the feed.
      x-swagger-router-controller: Data
      x-swagger-router-action: last
      operationId: lastData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      - $ref: '#/components/parameters/DataInclude'
      tags:
      - Data
      responses:
        '200':
          description: Data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/feeds/{feed_key}/data/first:
    get:
      summary: First Data in Queue
      description: Get the oldest data point in the feed. This request sets the queue pointer to the beginning of the feed.
      x-swagger-router-controller: Data
      x-swagger-router-action: last
      operationId: firstData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      - $ref: '#/components/parameters/DataInclude'
      tags:
      - Data
      responses:
        '200':
          description: Data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/feeds/{feed_key}/data/retain:
    get:
      summary: Last Data in MQTT CSV format
      description: 'Get the most recent data point in the feed in an MQTT compatible CSV format: `value,lat,lon,ele`'
      x-swagger-router-controller: Data
      x-swagger-router-action: retain
      operationId: retainData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      tags:
      - Data
      responses:
        '200':
          description: CSV string in `value,lat,lon,ele` format. The lat, lon, and ele values are left blank if they are not set.
          content:
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/feeds/{feed_key}/data/{id}:
    get:
      summary: Returns data based on feed key
      description: ''
      x-swagger-router-controller: Data
      x-swagger-router-action: get
      operationId: getData
      tags:
      - Data
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      - $ref: '#/components/parameters/IDPath'
      - $ref: '#/components/parameters/DataInclude'
      responses:
        '200':
          description: Data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    put:
      summary: Replace existing Data
      x-swagger-router-controller: Data
      x-swagger-router-action: replace
      operationId: replaceData
      description: ''
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      - $ref: '#/components/parameters/IDPath'
      requestBody:
        $ref: '#/components/requestBodies/createDataDatum'
      tags:
      - Data
      responses:
        '200':
          description: Updated Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    patch:
      summary: Update properties of existing Data
      description: ''
      x-swagger-router-controller: Data
      x-swagger-router-action: update
      operationId: updateData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      - $ref: '#/components/parameters/IDPath'
      requestBody:
        $ref: '#/components/requestBodies/createDataDatum'
      tags:
      - Data
      responses:
        '200':
          description: Updated Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    delete:
      summary: Delete existing Data
      description: ''
      x-swagger-router-controller: Data
      x-swagger-router-action: destroy
      operationId: destroyData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/FeedPath'
      - $ref: '#/components/parameters/IDPath'
      tags:
      - Data
      responses:
        '200':
          description: Deleted Group successfully
          content:
            application/json:
              schema:
                type: string
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/groups/{group_key}/data:
    post:
      summary: Create new data for multiple feeds in a group
      x-swagger-router-controller: Data
      x-swagger-router-action: group_create
      operationId: createGroupData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/GroupPath'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - feeds
              properties:
                location:
                  type: object
                  description: A location record with `lat`, `lon`, and [optional] `ele` properties.
                  required:
                  - lat
                  - lon
                  properties:
                    lat:
                      type: number
                    lon:
                      type: number
                    ele:
                      type: number
                feeds:
                  description: An array of feed data records with `key` and `value` properties.
                  type: array
                  items:
                    type: object
                    required:
                    - key
                    - value
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                created_at:
                  type: string
                  description: Optional created_at timestamp which will be applied to all feed values created.
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - feeds
              properties:
                location:
                  type: object
                  description: A location record with `lat`, `lon`, and [optional] `ele` properties.
                  required:
                  - lat
                  - lon
                  properties:
                    lat:
                      type: number
                    lon:
                      type: number
                    ele:
                      type: number
                feeds:
                  description: An array of feed data records with `key` and `value` properties.
                  type: array
                  items:
                    type: object
                    required:
                    - key
                    - value
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                created_at:
                  type: string
                  description: Optional created_at timestamp which will be applied to all feed values created.
        required: true
      tags:
      - Data
      responses:
        '200':
          description: New data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/groups/{group_key}/feeds/{feed_key}/data:
    get:
      x-swagger-router-controller: Data
      x-swagger-router-action: group_all
      operationId: allGroupFeedData
      summary: All data for current feed in a specific group
      description: ''
      tags:
      - Data
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/GroupPath'
      - $ref: '#/components/parameters/FeedPath'
      - name: start_time
        in: query
        description: Start time for filtering data. Returns data created after given time.
        schema:
          type: string
          format: date-time
      - name: end_time
        in: query
        description: End time for filtering data. Returns data created before give time.
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: Limit the number of records returned.
        schema:
          type: integer
      responses:
        '200':
          description: An array of data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
    post:
      summary: Create new Data in a feed belonging to a particular group
      x-swagger-router-controller: Data
      x-swagger-router-action: group_feed_create
      operationId: createGroupFeedData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/GroupPath'
      - $ref: '#/components/parameters/FeedPath'
      requestBody:
        $ref: '#/components/requestBodies/createDataDatum'
      tags:
      - Data
      responses:
        '200':
          description: New data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /{username}/groups/{group_key}/feeds/{feed_key}/data/batch:
    post:
      summary: Create multiple new Data records in a feed belonging to a particular group
      x-swagger-router-controller: Data
      x-swagger-router-action: group_feed_batch
      operationId: batchCreateGroupFeedData
      parameters:
      - $ref: '#/components/parameters/UsernamePath'
      - $ref: '#/components/parameters/GroupPath'
      - $ref: '#/components/parameters/FeedPath'
      requestBody:
        $ref: '#/components/requestBodies/batchCreateDataData'
      tags:
      - Data
      responses:
        '200':
          description: New data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataResponse'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /webhooks/feed/:token:
    post:
      summary: Send data to a feed via webhook URL
      description: ''
      x-swagger-router-controller: WebhookReceivers
      x-swagger-router-action: create
      x-code-samples:
      - lang: curl
        source: curl -F 'value=65.5' https://io.adafruit.com/api/v2/webhooks/feed/12345thistoken
      operationId: createWebhookFeedData
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                value:
                  type: string
        description: Webhook payload containing data `value` parameter.
        required: true
      tags:
      - Data
      responses:
        '200':
          description: New feed data record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Data'
            text/csv:
              schema:
                $ref: '#/components/schemas/Data'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
  /webhooks/feed/:token/raw:
    post:
      summary: Send arbitrary data to a feed via webhook URL
      description: The raw data webhook receiver accepts POST requests and stores the raw request body on your feed. This is useful when you don't have control of the webhook sender. If feed history is turned on, payloads will be truncated at 1024 bytes. If feed history is turned off, payloads will be truncated at 100KB.
      x-swagger-router-controller: WebhookReceivers
      x-swagger-router-action: createRaw
      x-code-samples:
      - lang: curl
        source: "curl --header 'Content-Type: application/json' \\\n  --request POST \\\n  --data '{\"some json\": \"goes here\", \"id\": 12345}' \\\n  https://io.adafruit.com/api/v2/webhooks/feed/12345thistoken/raw"
      operationId: createRawWebhookFeedData
      tags:
      - Data
      responses:
        '200':
          description: New feed data record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Data'
            text/csv:
              schema:
                $ref: '#/components/schemas/Data'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  parameters:
    EndTime:
      name: end_time
      in: query
      description: End time for filtering, returns records created before give time.
      schema:
        type: string
        format: date-time
    Limit:
      name: limit
      in: query
      description: Limit the number of records returned.
      schema:
        type: integer
    DataInclude:
      name: include
      in: query
      description: 'List of Data record fields to include in response as comma separated list. Acceptable values are: `value`, `lat`, `lon`, `ele`, `id`, and `created_at`. '
      schema:
        type: string
    StartTime:
      name: start_time
      in: query
      description: Start time for filtering, returns records created after given time.
      schema:
        type: string
        format: date-time
    UsernamePath:
      name: username
      in: path
      required: true
      description: a valid username string
      schema:
        type: string
    GroupPath:
      name: group_key
      in: path
      required: true
      schema:
        type: string
    FeedPath:
      name: feed_key
      description: a valid feed key
      in: path
      required: true
      schema:
        type: string
    IDPath:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    DataResponse:
      type: object
      properties:
        id:
          type: string
        value:
          type: string
        feed_id:
          type: number
        group_id:
          type: number
        expiration:
          type: string
        lat:
          type: number
        lon:
          type: number
        ele:
          type: number
        completed_at:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        created_epoch:
          type: number
    Data:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        value:
          type: string
        feed_id:
          type: number
        group_id:
          readOnly: true
          type: number
        expiration:
          type: string
        lat:
          type: number
        lon:
          type: number
        ele:
          type: number
        completed_at:
          readOnly: true
          type: string
        created_at:
          readOnly: true
          type: string
        updated_at:
          readOnly: true
          type: string
        created_epoch:
          readOnly: true
          type: number
  requestBodies:
    createDataDatum:
      content:
        application/json:
          schema:
            type: object
            properties:
              value:
                type: string
              created_at:
                type: string
                format: dateTime
              lat:
                type: string
              lon:
                type: string
              ele:
                type: string
              epoch:
                type: number
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              value:
                type: string
              created_at:
                type: string
                format: dateTime
              lat:
                type: string
              lon:
                type: string
              ele:
                type: string
              epoch:
                type: number
      description: 'Data record including a `value` field (required) and optionally including: `lat`, `lon`, `ele` (latitude, longitude, and elevation values), and `created_at` (a date/time string).'
      required: true
    batchCreateDataData:
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              properties:
                value:
                  type: string
                created_at:
                  type: string
                  format: dateTime
                lat:
                  type: string
                lon:
                  type: string
                ele:
                  type: string
                epoch:
                  type: number
        application/x-www-form-urlencoded:
          schema:
            type: array
            items:
              type: object
              properties:
                value:
                  type: string
                created_at:
                  type: string
                  format: dateTime
                lat:
                  type: string
                lon:
                  type: string
                ele:
                  type: string
                epoch:
                  type: number
      description: 'A collection of data records including `value` (required) and optionally including: `lat`, `lon`, `ele` (latitude, longitude, and elevation values), and `created_at` (a date/time string).'
      required: true
  securitySchemes:
    HeaderKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: header
      name: X-AIO-Key
    QueryKey:
      description: The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.
      type: apiKey
      in: query
      name: X-AIO-Key
    HeaderSignature:
      description: The AIO Signature is an AWS inspired request signature.
      type: apiKey
      in: header
      name: X-AIO-Signature
